.content-dashboard{
    display: flex;
    width: 100%;
}

.content-dashboard-filter{
    width: 30%;
    background-color: rgb(39, 39, 45);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.content-dashboard-filter > form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.content-dashboard-resultsearch{
    width: 70%;
    background-color: rgb(39, 39, 45);/*quitar esta prop*/
    padding: 10px;
}

/*
    esto no tiene que ir aca, se debe eliminar, se dejo por el momento hasta que se
    desarrolle el componente cart-item por ejemplo
*/

.item-result-search{
    width: 600px;
    height: 200px;
    background-color: bisque;
    border-radius: 10px;
    border: dotted;
    margin-bottom: 5px;
}
